.home__wrapper {
  text-align: center;
}

.home__title {
  font-size: 72px;
  font-family: GreyQo;
}

.home__button {
  background-color: #f0daa3;
  border: none;
  width: 300px;
  height: 80px;
  font-size: 40px;
  border-radius: 8px;
  color: #482e1d;
  font-family: GreyQo;
}

.home__button:hover {
  opacity: 0.8;
}

.home__link {
  text-decoration: underline;
}
