@import "styles/settings/_button";
@import "styles/settings/_colors";
@import "styles/settings/_fonts";

body {
  margin: 0;
  font-family: GreyQo;
  background-color: $sand-storm;
  height: 100vh;
  width: 100vw;
}

app-root {
  height: inherit;
  width: inherit;
  display: block;
}

app-home {
  margin: 0;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/Vintage.jpeg");
  background-size: contain;
  background-position: center;
  background-color: $espresso;
  color: $sand-storm;
}

app-questions {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
